{% extends "base.html" %}
{% block title %}Test Failure Form{% endblock %}
{% block page_title %}Test Failure Form{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h2 class="mb-3 fw-semibold">Report Test as Failure?</h2>
    <p class="mb-4">Please List Reason to abort form.</p>

    <div class="d-grid gap-3 col-6 mx-auto">
        <a class="btn btn-outline-red btn me-2" href="/form">Cancel</a>
        <a href="/help" class="btn btn-outline-red btn-lg">Help</a>
    </div>
</div>
{% endblock %}
