{% extends "base.html" %}
{% block title %}Form Sequence Complete{% endblock %}
{% block page_title %}Submission Complete{% endblock %}

{% block content %}
<div class="text-center mt-5">
  <div class="mb-3 d-flex justify-content-between align-items-center">
    <div>
      <a class="btn btn-outline-red btn" href="/prod_test_doc">Apollo Production Testing Document</a>
    </div>
    <div>
      <a class="btn btn-outline-red btn me-2" href="/">Home</a>
      <a class="btn btn-outline-red btn me-2" href="/form">Back to Form</a>
      <a class="btn btn-outline-red btn me-2" href="/history">View Test Entries</a>
      <a class="btn btn-outline-red btn me-2" href="/logout">Logout</a>
    </div>
  </div>
    <h2 class="mb-3 fw-semibold">Help Page</h2>
    <p class="mb-4">Explanation of Tests</p>

    <!--Block to display all fields with help text or help links-->
    {% if grouped_help_fields %}
    {% for section, fields in grouped_help_fields.items() %}
      <h4 class="mt-5">{{ section }}</h4>
      <table class="table table-bordered table-sm table-hover">
        <thead class="table-light">
          <tr>
            <th>Test</th>
            <th>Description</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          {% for field in fields %}
            <tr>
              <td>{{ field.field_label }}</td>
              <td>{{ field.help_text or "-" }}</td>
              <td>
                {% if field.help_link %}
                  <a href="{{ field.help_link }}" target="_blank" rel="noopener noreferrer">
                    {{ field.field_label or "-" }}</a>
                {% else %}
                  —
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  {% else %}
    <p>No help entries found.</p>
  {% endif %}
</div>
{% endblock %}
